@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --back: white;
    --back-itens: ;
    --color: black;
    --color-hover: #faa916;
}


.dark-mode:root {
    --back: #121212;
    --back-itens: #2d2d2d;
    --color: #9c9c9c;
    --color-hover: #560bad;
}

@media (min-width: 300px) and (max-width: 767px) {
    body {
        background-color: var(--back);
        margin: 0;
        padding: 0; 
        
    }

    header {
        margin: 0;
        background-color: var(--back);
        padding: 0;
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
        height: auto;
        width: 100vw;
        color: var(--back);
    }
    main{
        background-color: var(--back);  
    }

    .endereco {
        display: none;
        color: var(--color);
    }

    .container {
        height: 50%;
        width: 100%;
        display: flex;
        gap: 20px;
        justify-content: center;
        border-bottom: 1px solid var(--color-hover);
        align-items: center;
    }

    .logo img {
        width: 150px;
        height: 57px;
    }

    .logo {
        display: flex;
        justify-content: center;
    }

    .busca {
        display: flex;
        justify-content: center;
        width: auto;
        padding-left: 0;
        gap: 10px;
        color: var(--color);

    }

    .busca input {
        background-color: var(--back-itens);
        border: 0.5px solid var(--back-itens);
        font-size: 15px;
        color: var(--color);
        border-radius: 8px;
        height: 20px;
        width: 90%;
        outline: none;
    }

    .busca button {
        background-color: transparent;
        border: none;
    }

    .busca button:hover {
        color: var(--color-hover);
    }

    .container-baixo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    nav {
        background-color: var(--back);
        width: 360px;
        display: flex;
        justify-content: center;
        border-radius: 22px;

    }

    nav a {
        color: var(--color);
        text-decoration: none;
        padding: 8px 16px;
        border-radius: 22px;
        font-weight: 600;
    }

    nav a:hover {
        transition: 0.25s;
        background-color: var(--color-hover);
        color: var(--back);
        
    }

    .menu {
        list-style: none;
        float: left;
    }

    .menu li {
        position: relative;
        float: left;
    }

    .menu ul {
        padding-left: 0;
    }

    ul.menu {
        padding-left: 0;
    }

    .menu li a {
        color: var(--color);
        text-decoration: none;
        padding: 5px 10px;
        display: block;
    }

    .menu li a:hover {
        background: var(--color-hover);
        color: #fff;
        text-shadow: 0px 0px 5px #fff;
    }

    .menu li ul {
        position: absolute;
        top: 25px;
        right: 0;
        background-color: var(--back);
        
        overflow: hidden;
        display: none;
    }

    .menu li:hover ul,
    .menu li.over ul {
        display: block;
    }

    .menu li ul li {
        border: 1px solid var(--color);
        display: block;
        width: 150px;
    }

    ul.menu {
        padding-left: 0;
    }

    .dark-mode #img-logo1 {
        display: block;
    }

    .dark-mode #img-logo {
        display: none;
    }

    #img-logo1 {
        display: none;
    }
    #img-logo {
        display: block;
    }


    label span{
         padding-left: 10px;
        color: var(--color);
    }
}

@media (min-width: 767px) and (max-width: 1920px) {
    body {
        background-color: var(--back);
        width: 100vw;
        margin: 0;
        padding: 0;
    }

    header {
        margin: 0;
        padding: 0;
        background-color: var(--back);
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
        height: 150px;
        width: 100%;
    }
    main{
        background-color: var(--back);
    }

    .endereco {
        display: block;
        font-size: 10px;
        padding-left: 2%;
        color: var(--color);
    }

    .container {
        height: 80%;
        width: 100%;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid var(--color-hover);
        align-items: center;
    }

    .logo img {
        width: 150px;
        height: 57px;
    }

    .logo {
        display: flex;
        justify-content: center;
    }

    .busca {
        display: flex;
        align-items: center;
        width: 60%;
        padding-left: 2%;
        gap: 10px;
        color: var(--color);

    }

    .busca input {
        background-color: var(--back-itens);
        border: 0.5px solid var(--back-itens);
        color: var(--color);
        font-size: 15px;
        border-radius: 8px;
        height: 30px;
        width: 60%;
        outline: none;
    }

    .busca button {
        display: none;

    }

    .busca button:hover .menu {
        display: block;
    }

    .busca button:hover {
        color: var(--color-hover);
    }

    .container-baixo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    nav {
        background-color: var(--back);
        width: 360px;
        display: flex;
        justify-content: center;
        border-radius: 22px;

    }

    nav a {
        color: var(--color);
        text-decoration: none;
        padding: 8px 16px;
        font-weight: 600;
    }

    nav a:hover {
        transition: 0.25s;
        background-color: var(--color-hover);
        color: var(--back);
        
    }

    .menu {
        list-style: none;
        float: left;
        overflow: visible;
    }

    .menu li {
        position: relative;
        float: left;
    }

    .menu li a {
        color: var(--color);
        text-decoration: none;
        padding: 5px 10px;
        display: block;
    }

    
    .menu li a:hover {
        background: var(--color-hover);
        color: #fff;
        text-shadow: 0px 0px 5px #fff;
    }

    .menu li ul {
        position: absolute;
        top: 25px;
        right: 0;
        background-color: var(--back);
        overflow: visible;
        display: none;
    }

    .menu li:hover ul,
    .menu li.over ul {
        display: block;
    }

    .menu li ul li {
        border: 1px solid var(--color);
        padding: 0;
        margin: 0;
        display: block;
        width: 150px;
    }

    ul.menu {
        padding-left: 0;
    }

    


    .dark-mode #img-logo1 {
        display: block;
    }

    .dark-mode #img-logo {
        display: none;
    }

    #img-logo1 {
        display: none;
    }
    #img-logo {
        display: block;
    }


    label span{
         padding-left: 10px;
        color: var(--color);
    }

    

}